a {
  color: #ffffff;
  text-decoration: none;
}

button:focus,
a:focus {
  outline: none;
}

.app {
  color: rgba(255,255,255,0.85);
}

.btn {
  background-color: transparent;
  display: block;
  margin: 20px auto;
  border-radius: 30px;
  border: solid 1px #0090d7;
  color: #0090d7;
  cursor: pointer;
  font-size: 16px;
  padding: 1rem;
  min-width: 180px;
}

.btn--primary {
  background-color: #00a9fe;
  border: none;
  color: white;
}

.demo-container {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  position: relative;
  width: 90%;
}

.demo-title {
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

.instruction-container {
  position: relative;
  margin-top: 30px;
}

.instruction {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.instruction::before {
  border-top: 1px solid #979797;
  content: "";
  left: 15%;
  position: absolute;
  right: 15%;
  top: 1.5rem;
}

.instruction-step {
  flex: 1 1 100px;
  list-style: none;
  z-index: 10;
}

.instruction-step::before {
  background-color: #22272b;
  content: attr(data-step-number);
  display: inline-block;
  font-size: 1rem;
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #979797;
  border-radius: 100%;
}



/*** phone ***/
.phone-demo {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.phone-container {
  flex: 0 1 170px;
  max-width: 50%;
  margin: 20px 40px;
  position: relative;
  will-change: transform;
}

.phone {
  fill: #fff;
  position: relative;
}

.phone-img {
  fill: #fff;
  max-width: 100%;
  min-width: 50px;
  flex: 1 1 300px;
}

.phone-avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}

.arrow {
  position: absolute;
  width: 50%;
}

.arrow1 {
  transform: rotate(180deg);
  right: -20%;
  top: 20%;
}

.arrow2 {
  left: -20%;
  bottom: 20%;
}

.phone-coords {
  margin: 20px auto;
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
}


/*** Console inspector ***/
.console {
  text-align: left;
  width: 400px;
}

.console-item {
  white-space: pre-wrap;
}

/*** floating side nav ***/
.floatingNav {
  border-radius: 10px;
  position: fixed;
  right: 2%;
  bottom: 15px;
  width: 70px;
}

.floatingNav-item {
  background-color: #3d555c;
  height: 70px;
  position: relative;
  margin-bottom: 3px;
}

.floatingNav-item:first-child {
  border-radius: 10px 10px 0 0;
}

.floatingNav-item:last-child {
  border-radius: 0 0 10px 10px;
}

.floatingNav-item:only-child {
  border-radius: 10px;
}

.participantsCount {
  font-size: 35px;
}

.floatingNav-devices {
  background: transparent;
}

.floatingNav-console {
  cursor: pointer;
}

.floatingNav-share {
  border-radius: 5px;
}

.share-img {
  height: 40%;
  padding: 10px 0 0 0;
}

.shareTrigger {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
}

.shareWidget {
  transform: translateX(-20px) translateY(-20px);
  width: 240px;
}

.shareWidget::after {
  left: 100%;
  bottom: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 10px;
}

.shareWidget-text {
  font-weight: 700;
}

.shareWidget-shareUrl {
  color: #8d9eab;
  font-weight: normal;
  overflow-wrap: break-word;
}

.overlay {
    transition: opacity 0.3s cubic-bezier(.25, .8, .25, 1);
    color: #111111;
    visibility: visible;
    position: absolute;
    cursor: default;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.35);
    z-index: 1000;
}

.shareWidget-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #374148;
    border-radius: 8px 8px 0 0;
    height: 63px;
    text-align: center;
}

.shareWidget-title {
    font-size: 16px;
    display: inline-block;
    color: #d9d9d9;
    font-weight: 300;
}

.shareWidget-body {
    text-align: center;
    padding: 10px 15px;
}

.copyButton {
  padding: 1rem;
  min-width: 180px;
}


/*** welcome modal ***/
.welcome-dialog {
  color: #000000;
  position: absolute;
  width: 400px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 20px;
  text-align: center;
  outline: none;
}

.welcome-dialog .phone-container {
  margin: 30px auto;
  width: 25%;
}

.welcome-dialog .phone-avatar {
  fill: #000000;
}

.welcome-dialog .phone-img {
  fill: #000000;
}

.welcomeDialog-title {
  font-weight: normal;
}

.welcomeDialog-text {
  color: #6c7379;
}


/*** promo video ***/
.promoVideo-container {
  background-image: radial-gradient(circle at 51% 50%, #8d9eab, #22272b);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.promoVideo-overlay {
  background-color: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.promoVideo {
  border: 0;
  display: block;
  height: 315px;
  width: 516px;
  max-width: 100%;
  position: relative;
  z-index: 10;
  margin: 20% auto 0;
}

.link--jumpIn {
  display: block;
  margin: 50px auto;
  position: relative;
  z-index: 10;
}

.welcome-videoLink {
  color: #0088cc;
  font-weight: bold;
}

.description-mobile {
  margin: 20px auto;
}

.modal {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  overflow: auto;
  z-index: 1040;
}

.modal-backdrop {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: auto;
}

@media (min-width: 768px) {
  .btn {
    width: auto;
  }

  .floatingNav {
    width: 80px;
  }

  .shareTrigger,
  .floatingNav-item {
    height: 80px;
  }

  .phone-coords {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
  }
}

@media (min-height: 550px) {
  .welcome-dialog {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
